<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicial Movix</title>
</head>
<body>
     <div class="container">

        <!-- HEADER -->
        <header class="header">

            <div class="logo">

                <i class="fa-solid fa-train"></i>

                <h1>Movix</h1>

            </div>

        </header>

        <!-- HERO -->
        <section class="hero">

            <div class="hero-content">

                <span class="badge">
                    Sistema ferroviário de nova geração
                </span>

                <h2>
                    Gestão ferroviária inteligente,
                    simples e poderosa.
                </h2>

                <p>
                    Movix centraliza usuários, operações e dados da sua
                    malha ferroviária em uma plataforma moderna,
                    segura e responsiva.
                </p>

                <button class="btn">
                    Começar agora
                    <i class="fa-solid fa-arrow-right"></i>
                </button>

            </div>

        </section>

    </div>
</body>
</html>