<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicial Movix</title>
    <link rel="stylesheet" href="Css\inicial.css">
</head>
<body>
     <div class="container">

        <header class="header">

            <div class="logo">

                <i class="fa-solid fa-train"></i>

                <h1>Movix</h1>

            </div>

        </header>

        <section class="hero">

            <div class="hero-content">

                <h2>
                    Gestão ferroviária inteligente,
                    simples e poderosa.
                </h2>

                <p>
                    Movix centraliza usuários, operações e dados da sua
                    malha ferroviária em uma plataforma moderna,
                    segura e responsiva.
                </p>

                <button class="btn">
                    Começar agora
                    <i class="fa-solid fa-arrow-right"></i>
                </button>

            </div>

        </section>

    </div>
</body>
</html>