<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login Movix</title>

    <link rel="stylesheet" href="Css/login.css">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

    <div class="container">

        <div class="left">

            <div class="logo">

              <img src="Css/Imgs/Logo-Movix__1_-removebg-preview.png" alt="">

            </div>

            <div class="texto">

                <h2>
                    Gerencie sua malha ferroviária da melhor forma
                </h2>

                <p>
                    Plataforma de diversas operações e dados em tempo real.
                </p>

            </div>

        </div>

        <div class="right">

            <div class="login-box">

                <h1>Bem-vindo</h1>

                <p>
                    Entre com suas credenciais para acessar o painel.
                </p>

                <form id="formLogin">

                    <label>E-mail</label>

                    <input
                    type="email"
                    id="email"
                    placeholder="Ex: joao@gmail.com"
                    required>

                    <label>Senha</label>

                    <input
                    type="password"
                    id="senha"
                    placeholder="******"
                    required>

                    <button class="btn" onclick="entrar()">
                      Entrar
                    </button>

                </form>

                <div class="cadastro">
                    Não tem conta ?
                    <a href="cadastro.html">
                        Cadastre-se
                    </a>

                </div>

            </div>

        </div>

    </div>

    <script src="Js/login.js"></script>

</body>

</html>