body{
    background-color:#f4f6f9;
    font-family: Arial, Helvetica, sans-serif;
}

.mvx-navbar{
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
}

.mvx-logo{
    font-size:1.5rem;
    font-weight:bold;
}

.mvx-card{
    border:none;
    border-radius:15px;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.mvx-login-card{
    width:400px;
    border-radius:20px;
}

.mvx-stat{
    padding:20px;
    text-align:center;
}

.mvx-stat h2{
    font-size:2rem;
}

.mvx-container{
    padding-top:30px;
}

.mvx-table{
    background:white;
    border-radius:15px;
    overflow:hidden;
}

.mvx-title{
    margin-bottom:20px;
    font-weight:bold;
}

.mvx-form-card{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
}

footer{
    margin-top:50px;
    padding:20px;
    text-align:center;
}