*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    background-color: #efefef;
}

/* Container */

.container{
    width: 100%;
    min-height: 100vh;
}

/* Header */

.header{
    width: 100%;
    height: 75px;
    background-color: #f3f3f3;

    display: flex;
    align-items: center;

    padding: 0 40px;
}

.logo img{
    width: 110px;
}
/* Hero */

.hero{
    width: 100%;
    height: 390px;

    background-color: #004aad;;
    );

    border-top: 2px solid #8f3dff;
    border-bottom: 2px solid #8f3dff;

    display: flex;
    align-items: center;
}

.hero-content{
    margin-left: 255px;
    max-width: 620px;
}

/* Título */

.hero-content h1{
    color: white;

    font-size: 58px;
    font-weight: 800;
    line-height: 1.15;

    margin-bottom: 22px;
}

/* Texto */

.hero-content p{
    color: white;

    font-size: 17px;
    font-weight: 600;
    line-height: 1.6;

    margin-bottom: 35px;
}

/* Botão */

.btn{
    width: 215px;
    height: 58px;

    border: none;
    border-radius: 12px;

    background-color: #d9d9d9;

    font-size: 18px;
    font-weight: 500;

    cursor: pointer;

    box-shadow: 0 10px 25px rgba(0,0,0,0.35);

    transition: 0.2s;
}

.btn:hover{
    transform: translateY(-2px);
}