*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 200px;
}

body{
    background-color: white;
}

.container{
    background-color: white;
    width: 100%;
    overflow: hidden;
}


.header{
    padding: 25px 30px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}



.hero{
    width: 1950px;
    height: 450px;

    background: linear-gradient(90deg,#3851e4,#022c7a);

    display: flex;
    align-items: center;

    .hero-content{
    margin-left: 450px;
}
}

.hero-content{
    width: 850px;
    margin-left: 450px;
}


.hero h2{
    color: white;

    font-size: 60px;

    margin-top: 20px;
}

.hero p{
    color: white;

    margin-top: 20px;

    font-size: 24px;

    line-height: 35px;
}

.btn{
    margin-top: 35px;

    background-color: #d9d9d9;

    border: none;

    padding: 15px 35px;

    border-radius: 12px;

    font-size: 22px;

    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 15px;

    box-shadow: 0 5px 10px rgba(0,0,0,0.3);

    transition: 0.3s;
}

.btn:hover{
    transform: scale(1.05);
}

.btn i{
    font-size: 25px;
}