*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #e5e5e5;
}

.container{
    width: 100%;
    height: 100vh;

    display: flex;
}

/* LADO ESQUERDO */

.left{
  width: 65%;
  background: linear-gradient(90deg,#3851e4,#022c7a);
  color: white;
}

img{
  width: 200px;
}


.texto{
    margin-top: 200px;
    margin-left: 50px;
}

.texto h2{
    font-size: 55px;
    width: 900px;
}

.texto p{
    margin-top: 20px;
    font-size: 20px;
}

.right{
    width: 35%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    width: 70%;
}

.login-box h1{
    font-size: 45px;
    text-align: center;
}

.login-box p{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

form{
    display: flex;
    flex-direction: column;
}

form label{
    margin-bottom: 10px;
    margin-top: 15px;
}

form input{
    padding: 18px;
    border: none;
    border-radius: 12px;
    background-color:white;
    font-size: 16px;
    box-shadow: 0 5px 15px black;
}

form button{
    margin-top: 35px;
    padding: 18px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(90deg,#3851e4,#022c7a);
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.cadastro{
    margin-top: 30px;
    text-align: center;
}

.cadastro a{
    color: #4b5cff;
}