<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Movix</title>

    <link rel="stylesheet" href="../Css/home.css">
</head>

<body>

    <!-- SIDEBAR -->

    <aside class="sidebar">

        <div class="logo">
            <h2>MOVIX</h2>
        </div>

        <nav>

            <a href="#">Dashboard</a>
            <a href="#">Cadastro de Sensores</a>
            <a href="#">Cadastro de Trens</a>
            <a href="#">Monitoramento</a>
            <a href="#">Relatórios</a>
            <a href="#">Sensores</a>

        </nav>

        <button class="logout">
            Sair
        </button>

    </aside>

    <!-- CONTEÚDO -->

    <main class="main">

        <!-- TOPO -->

        <header class="topbar">

            <div>
                <h1>Painel Administrativo</h1>
                <p>Bem-vindo,  Administrador</p>
            </div>

        </header>

        <!-- CARDS -->

        <section class="cards">

            <div class="card">
                <h3>Sensores Ativos</h3>
                <span>128</span>
            </div>

            <div class="card">
                <h3>Trens Operando</h3>
                <span>24</span>
            </div>

            <div class="card alert">
                <h3>Alertas</h3>
                <span>3</span>
            </div>

            <div class="card fail">
                <h3>Falhas</h3>
                <span>1</span>
            </div>

        </section>

        <!-- MONITORAMENTO -->

        <section class="monitoramento">

            <div class="monitor-card">

                <h2>Monitoramento em Tempo Real</h2>

                <div class="monitor-grid">

                    <div class="info">
                        <h3>Velocidade</h3>
                        <p>82 km/h</p>
                    </div>

                    <div class="info">
                        <h3>Status</h3>
                        <p class="status normal">Normal</p>
                    </div>

                    <div class="info">
                        <h3>Localização</h3>
                        <p>Joinville - SC</p>
                    </div>

                </div>

            </div>

        </section>

        <section class="table-section">

            <div class="table-header">
                <h2>Sensores da Ferrovia</h2>
            </div>

            <table>

                <thead>

                    <tr>
                        <th>ID</th>
                        <th>Localização</th>
                        <th>Tipo de Dado</th>
                        <th>Trem</th>
                    </tr>

                </thead>

                <tbody>

                    <tr>
                        <td>001</td>
                        <td>Joinville Norte</td>
                        <td>Velocidade</td>
                        <td>Trem A12</td>
                    </tr>

                    <tr>
                        <td>002</td>
                        <td>Terminal Central</td>
                        <td>Temperatura</td>
                        <td>Trem B07</td>


                    </tr>

                    <tr>

                        <td>003</td>
                        <td>Zona Sul</td>
                        <td>Falha Mecânica</td>
                        <td>Trem C15</td>


                    </tr>

                </tbody>

            </table>

        </section>


    </main>

</body>

</html>